
@section scripts{
    
    <script type="text/javascript">
    $(function () {
      jQuery("#grid_id").jqGrid({
      datatype: "local",
      height: 250,
      colNames:['Inv No','Date', 'Client', 'Amount','Tax','Total','Notes','NameA','Age'],
      colModel:[
        {name:'id',index:'id', width:60, sorttype:"int"},
        {name:'invdate',index:'invdate', width:90, sorttype:"date"},
        {name:'name',index:'name', width:100},
        {name:'amount',index:'amount', width:80, align:"right",sorttype:"float"},
        {name:'tax',index:'tax', width:80, align:"right",sorttype:"float"},
        {name: 'total', index: 'total', width: 80, align: "right", sorttype: "float" },        
        {name: 'note', index: 'note', width: 150, sortable: false },
        {name: 'NameA', index: 'NameA', width: 150, sortable: false },
        {name: 'Age', index: 'Age', width: 150, sortable: false }
      ],
      multiselect: true,
      caption: "Manipulating Array Data"
     });  // jqGrid
   
    var mydata = [
      {id:"1", invdate:"2007-10-01", name:"test", note:"note", amount:"200.00", tax:"10.00", total:"210.00",NameA:"aa",Age:"35"},
      { id: "2", invdate: "2007-10-02", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00", NameA: "aa", Age: "35" },
      { id: "3", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00", NameA: "aa", Age: "35" },
      { id: "4", invdate: "2007-10-04", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00", NameA: "aa", Age: "35" },
      { id: "5", invdate: "2007-10-05", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00", NameA: "aa", Age: "35" },
      { id: "6", invdate: "2007-09-06", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00", NameA: "aa", Age: "35" },
      { id: "7", invdate: "2007-10-04", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00", NameA: "aa", Age: "35" },
      { id: "8", invdate: "2007-10-03", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00", NameA: "aa", Age: "35" },
      { id: "9", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00", NameA: "aa", Age: "35" }
    ];

    for(var i=0;i<=mydata.length;i++)
      jQuery("#grid_id").jqGrid('addRowData',i+1,mydata[i]);
    })
    </script>
<script src="~/Scripts/Home/GridTest.js"></script>
}

<h2>GridTest</h2>

<div class="widget-body">
    <div class="widget-main no-padding">
        @using (Html.BeginForm(
         "GridTest", "Home", FormMethod.Get,
         new { @class = "form-horizontal", id = "form", role = "form" }))
        {
            <div class="space-4"></div>
                                    <div class="form-actions center">
                                        <button class="btn btn-info" type="button" id="btnSubmitQuery">
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            送出
                                        </button>
                                    </div>                                  
        }
    </div>
</div>

<div>
    <table id="grid_id"></table>
</div>