
@{
    ViewBag.Title = "GridDT";
    <script type="text/javascript">
      
    $(function () {
      jQuery("#grid_id").jqGrid({
      datatype: "local",
      height: 250,
      colNames: ['Inv No', 'Date','CreateDate', 'Client', 'Amount', 'Tax', 'Total', 'Notes', 'ID', 'NameA', 'NameB', 'Age'],
      colModel:[
        {name:'id',index:'id', width:60, sorttype:"int"},
        { name: 'invdate', index: 'invdate', width: 90, sorttype: "date" },
        { name: "CreateDate", width: 100, formatter: "date", formatoptions: { newformat: 'Y-m-d' } },
        {name:'name',index:'name', width:100},
        {name:'amount',index:'amount', width:80, align:"right",sorttype:"float"},
        {name:'tax',index:'tax', width:80, align:"right",sorttype:"float"},
        {name: 'total', index: 'total', width: 80, align: "right", sorttype: "float" },
        { name: 'note', index: 'note', width: 150, sortable: false },
        { name: 'ID', index: 'ID', width: 150, sortable: false },
        { name: 'NameA', index: 'NameA', width: 150, sortable: false },
        { name: 'NameB', index: 'NameB', width: 150, sortable: false },
        {name: 'Age', index: 'Age', width: 150, sortable: false }
      ],
      multiselect: true,
      caption: "Manipulating Array Data"
     });  // jqGrid

    })
    </script>
    <script src="~/Scripts/Home/GridDT.js"></script>
}

<h2>GridDT</h2>
<div class="widget-body">
    <div class="widget-main no-padding">
        @using (Html.BeginForm(
             "GridDT", "Home", FormMethod.Get,
             new { @class = "form-horizontal", id = "form", role = "form" }))
        {
            <div class="space-4"></div>
            <div class="form-actions center">
                <button class="btn btn-info" type="button" id="btnSubmitQuery">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    送出
                </button>
            </div>
        }
    </div>
</div>

<div>
    <table id="grid_id"></table>
</div>
